<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegi Go</title>
    <link type="text/css" rel="stylesheet" href="../css/app.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head>
<body>
    
<header class="header">

    <a href="/" class="logo"> <i class="fas fa-shopping-basket"></i> Vegi Go </a>

    <nav class="navbar">
        <a href="/">Home</a>
        <% if(user?.role === 'admin') { %>
            <a href="/admin/manage-items">My Products</a>
            <a href="/admin/manage-orders">All Orders</a>
        <% } else { %>
            <a href="/products">Products</a>
            <a href="/#features">Features</a>
            <a href="/#categories">Categories</a>        
            <a href="/#blogs">Blogs</a>
        <% } %>
        <% if(user && user?.role != 'admin') { %>
           <a href="/track-order">My Orders</a>
        <% } %>
    </nav>

    <div class="icons">  
        <div class="fas fa-bars" id="menu-btn"></div>            
        <a href="/cart"> <div class="fas fa-shopping-cart" id="cart-btn"></div></a> 
        <% if(user) { %>
            <form id="logout" action="/logout" method="POST"> <div class="fas fa-user-minus" id="login-btn" onclick="document.getElementById('logout').submit()"></div></form> 
            <h2 class="center" style="color: orange; margin-left: 5px;"><%= user.username %></h2>
        <% } else { %>
            <a href="/login"> <div class="fas fa-user-plus" id="login-btn"></div></a>
        <% } %> 
    </div>

  
   

</header>
  <%-body %>

  
<!-- Footer Section Starts -->


<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3> Vegi Go <i class="fas fa-shopping-basket"></i> </h3>
            <p>Near Jain Mandir. Main Road, Khariar Road, Odisha</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +91-453-675-2625 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +91-746-352-7263 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> swayam456@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Khariar Road, india - 766104 </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="/" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="/products" class="links"> <i class="fas fa-arrow-right"></i> products </a>
            <a href="/#features" class="links"> <i class="fas fa-arrow-right"></i> features </a>
            <a href="/#catagory" class="links"> <i class="fas fa-arrow-right"></i> categories </a>          
            <a href="/#blogs" class="links"> <i class="fas fa-arrow-right"></i> blogs </a>
        </div>       
    </div>

    <div class="credit"> created by <span> Swayam Prakash Barik </span> | all rights reserved </div>

</section>

<!-- Footer Section Ends -->
<script src="/socket.io/socket.io.js"></script>

<script  src="/js/app.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 
<!-- custom js file link  -->
 

</body>
</html>