<section class="login">
    <form class="login-container" method="POST">
        <span class="email-text">Email</span>
        <input class="input-item" type="email" placeholder="Enter Your email">
        <span class="email-text">Password</span>
        <input class="input-item" type="password" placeholder="Enter Your Password">
        <div class="login-noacc">
            <a class = "login-btn"  href="/login">Login</a>
            <a class="signup" href="/register">Don't have account?</a>
        </div>         
    </div>
</section>