<section class="login">
    <form action="/login" method="POST" class="login-container"  >
       <% if(messages.error){ %>
        <span style="color: red; font-size: 13px"><%= messages.error %></span>
       <% } %>          
        <span class="email-text">Email</span>
        <input name="email" class="input-item" type="email" placeholder="Enter Your email">
        <span class="email-text">Password</span>
        <input name="password" class="input-item" type="password" placeholder="Enter Your Password">
        <div class="login-noacc">
            <button type="submit" class = "login-btn">LogIn</button>
            <a class="signup" href="/register">Don't have account?</a>
        </div>         
    </div>
</section>