<section class="admin-page">
    <h1 class="heading"> Manage  <span>My System</span> </h1>
    <div class="admin-operations">
        <h1 class="">Add or Delete item from products list</h1> 
        <a href="=/admin/manage-items"> <button class="click-btn">Click Here</button></a>
    </div>
    <div class="admin-operations">
        <h1 class="">Manage Orders</h1> 
       <a href="/admin/manage-orders"> <button class="click-btn">Click Here</button></a> 
    </div>
    

</section>