<section class="manage-orders">
    
    <h1 class="heading"> All <span>Orders</span> </h1>
    
    <table class="admin-table">
        <thead  >
            <tr>
                <th style="padding: 10px" >Orders</th>
                <th style="padding: 10px">Customer</th>
                <th style="padding: 10px">Address</th>
                <th style="padding: 10px">Status</th>
                <th style="padding: 10px">Placed at</th>
                <!-- <th class="px-4 py-2 text-left">Payment Status</th> -->
            </tr>
        </thead>
        <tbody id="orderTableBody">
        </tbody>
    </table>    
</section>